﻿@model crud_alumnos.Models.alumno

@{
    ViewBag.Title = "DetallesAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetallesAlumno</h2>

<div>
    <h4>alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Completo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt>
            Edad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            Sexo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            Fecha de Alta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecharegistro)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
