﻿@model IEnumerable<crud_alumnos.Models.alumno>

@{
    ViewBag.Title = "Lista de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Completo
        </th>
        <th>
            Edad
        </th>
        <th>
            Sexo
        </th>
        <th>
            Fecha de Registro
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @{
                    item.sexo = (item.sexo == "M" ? "Hombre" : "Mujer");
                }
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td>
                @item.fecharegistro.ToShortDateString();
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.id }) |
                @Html.ActionLink("Detalles", "DetallesAlumno", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "EliminarAlumno", new { id = item.id }, new { @class = "aElimina" })
            </td>
        </tr>
    }

</table>
@section scripts
{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm('¿Estas seguro de eliminar?')) {
                event.preventDefault();
            }
        });
    </script>
}
